@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutConferencia.cshtml";
}

<h2><strong>Erro ao solicitar operação, tente novamente mais tarde ou entre em contato com o suporte técnico</strong></h2>
<button type="button" class="btn btn-primary" onclick="history.go(-2)">Voltar</button>