@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VDT2.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>    VDT - Vehicle Damage Tracking</h1>

@if (Model == null || !Model.Autenticado)
{
    <div id="divConteudoInstitucional">
        <iframe name="frameConteudoInstitucional" style="border: none; width: 98%; height:600px" src="~/ConteudoInstitucional.html"></iframe>
    </div>
}

@if (Model != null && Model.Autenticado && Model.Usuario != null)
{
    <div class="row">
        @if (Model.Usuario.AcessaModuloInspecao)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block" id="cardblockTelaInspecao-Index">
                        <h3 class="card-title">Nova Inspeção</h3>
                        <p class="card-text">Clique no botão abaixo para iniciar uma nova inspeção</p>
                        <button class="btnTelaIndex btn btn-info btn-sm" value="Nova Inspeção" onclick="location.href='@Url.Action("NovaInspecao", "Inspecao")'"><span class="glyphicon glyphicon-plus"> </span> Nova inspeção</button>
                    </div>
                </div>
            </div>
        }

        @if (Model.Usuario.AcessaModuloBackOffice)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Conferência de Inspeção</h3>
                        <p class="card-text">Clique no botão abaixo para conferência.</p>
                        <button class="btnTelaIndex btn btn-warning btn-sm" value="Conferências" onclick="location.href='@Url.Action("NovaConferencia", "Conferencia")'"><span class="glyphicon glyphicon-th-list"> </span> Conferências</button>

                    </div>
                </div>
            </div>
        }
    </div><br /><br />

    <div class="row">
        @if (Model.Usuario.ImportaListas)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block" id="cblk-id3">
                        <h3 class="card-title">Enviar listas</h3>
                        <p class="card-text">Packing, Loading e Discharging List</p>
                        <button class="btnTelaIndex btn btn-primary btn-sm" value="" onclick="location.href='@Url.Action("SalvarListaInicio", "Conferencia")'"><span class="glyphicon glyphicon-level-up"> </span>  Upload</button>
                    </div>
                </div>
            </div>
        }

        @if (Model.Usuario.AcessaModuloConsultas)
        {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block" id="cblk-id3">
                            <h3 class="card-title">Consultas</h3>
                            <p class="card-text">Realiza as consultas de avarias</p>
                            <button class="btnTelaIndex btn btn-primary btn-sm" value="Consultas" onclick="location.href='@Url.Action("NovaConsulta", "Conferencia")'"><span class="glyphicon glyphicon-list-alt"></span>  Consultas</button>
                        </div>
                    </div>
                </div>

        }
    </div>
}

