@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VDT2.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>    VDT - Vehicle Damage Tracking</h1>

@if (Model == null || !Model.Autenticado)
    {
    <div id="divConteudoInstitucional">
        <iframe name="frameConteudoInstitucional" style="border: none; width: 98%; height:600px" src="~/ConteudoInstitucional.html"></iframe>
    </div>
    }

@if (Model != null && Model.Autenticado)
    {
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block" id="cardblockTelaInspecao-Index">
                    <h3 class="card-title">Nova Inspeção</h3>
                    <p class="card-text">Clique no botão abaixo para iniciar uma nova inspeção</p>
                    <button class="btnTelaIndex btn btn-info btn-sm" value="Nova Inspeção" onclick="location.href='@Url.Action("NovaInspecao", "Inspecao")'"><span class="glyphicon glyphicon-plus"> </span> Nova inspeção</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">Conferência de Inspeção</h3>
                    <p class="card-text">Clique no botão abaixo para conferência.</p>
                    <button class="btnTelaIndex btn btn-warning btn-sm" value="Conferencia de Inspeção" onclick="location.href='@Url.Action("NovaConferencia", "Conferencia")'"><span class="glyphicon glyphicon-th-list"> </span> Conferência de Inspeção</button>

                </div>
            </div>
        </div>
    </div><br/><br />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block" id="cblk-id3">
                    <h3 class="card-title">Packing List</h3>
                    <p class="card-text">Upload de arquivos referentes ao Packing List</p>
                    <button class="btnTelaIndex btn btn-primary btn-sm" value="PackingList" onclick="location.href='@Url.Action("PackingListInicio", "Conferencia")'"><span class="glyphicon glyphicon-plus"> </span> PackingList</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h3 class="card-title">Loading List</h3>
                    <p class="card-text">Upload de arquivos referentes ao Loading List..</p>
                    <button class="btnTelaIndex btn btn-danger btn-sm" value="LoadingList" onclick="location.href='@Url.Action("LoadingListInicio", "Conferencia")'"><span class="glyphicon glyphicon-th-list"> </span> LoadingList</button>

                </div>
            </div>
        </div>
    </div>



}
