@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<VDT2.Models.Cliente>

@{
    Layout = "~/Views/Shared/_LayoutConferencia.cshtml";
}
<br />


<script src="~/js/Conferencia/ConferenciaNovaConsulta.js" asp-append-version="true"></script>


<div class="container">
    <div class="row form-group">
        <h1>Escolha um cliente para continuar..</h1><br />
        @foreach (var item in Model)
        {
            <ul>
                <li><a id="@item.Cliente_ID" onclick="EnviarForm(@item.Cliente_ID)">@item.Nome</a></li>
            </ul>
        }
    </div>

    <div hidden>
        <form id="formPrincipal" asp-action="ConsultaCliente" asp-controller="Conferencia" method="post">
            <input type="text" name="Cliente_ID" id="inputCliente" />
        </form>
    </div>
</div>