body {
}


.btnTelaConsulta {
    width: 250px;
    min-width: 250px;
    margin-left: 80px;
}

.h3telaConsulta{
    margin-bottom: 30px;


}


.corpopannel{
    margin-top: 20px;
}


.botaoTelaConsulta{
    margin-bottom: 100px;

}